<div class="comp-fields">
  <%= text_field_tag "perf[#{ count['perf'] }][comp[#{ count['title'] += 1}][t]]",
    composition.title,
    class: 'comp-autocomplete'
  %>
  <%= check_box_tag "perf[#{ count['perf'] }][comp[#{ count['title'] }][id]]",
    composition.id,
    false,
    disabled: composition.id.blank?,
    checked: composition.id.present?
  %>
</div>
