<div class="comp-fields">
  <%= text_field_tag "perf[#{ count['perf'] }][comp[#{ count['title'] += 1}][t]]",
    composition.title,
    class: 'comp-autocomplete' + (composition.id.present? ? ' existing' : '')
  %>
  <%= hidden_field_tag "perf[#{ count['perf'] }][comp[#{ count['title'] }][id]]",
    composition.id
  %>
</div>
