<% if @youtube.performances.blank? or @youtube.new_record? %>
	<p class="youtube-title">
		<%= @info.snippet.title %>    
  </p>
  <p class="youtube-uploader">
    <span class="conjunction">uploaded by</span>
    <%= @info.snippet.channelTitle %>
  </p>
<% else %>
	<div class="performance">
	<% @youtube.performances.each do |perf| %>
		<p class="composition">
		<%= perf.compositions.map { |c| c.title }.join(', ') %>
		</p>
		<p class="artist">
			<span class="conjunction">by</span>
			<%= perf.artists.map { |a| a.name }.join(', ') %>
		</p>
	<% end %>
	</div>
<% end %>
