<%# Locals: performances, youtube_snippet %>
<% if performances.blank? %>
	<p class="youtube-title">
		<%= youtube_snippet.title %>    
  </p>
<% else %>
  <ol id="performances">
	<% @youtube.performances.each do |perf| %>
    <li class="performance">
      <ol class="compositions">
      <% perf.compositions.each do |c| %>
        <li class="composition"><%= c.title %></li>
      <% end %>
      </ol>
      <ol class="artists">
        <% perf.artists.each do |a| %>
          <li class="artist"><%= a.name %></li>
        <% end %>
      </ol>
    </li>
	<% end %>
	</ol>
<% end %>
