<%# Locals: performances, youtube_snippet %>
<% if performances.blank? %>
	<p class="youtube-title">
		<%= youtube_snippet.title %>    
  </p>
<% else %>
  <% @youtube.reload %>
	<section class="performance">
	<% @youtube.performances.each do |perf| %>
		<p class="composition">
    <span><%= perf.compositions.map { |c| c.title }.join(', ') %></span>
		</p>
		<p class="artist">
			<span class="conjunction">by</span>
      <span><%= perf.artists.map { |a| a.name }.join(', ') %></span>
		</p>
	<% end %>
	</section>
<% end %>
