<% if !@performances.nil? %>
	<% @performances.each do |perf| %>
		<p>
		<% perf.compositions.each do |composition| %>
			<span><%= composition.title %></span>
		<% end %>
		</p>
		<p>
		<% perf.artists.each do |artist| %>
			<span><%= artist.name %></span>
		<% end %>
		</p>
	<% end %>
<% end %>
		
