%section#youtube.main
  %section#primary_video
    = raw iframe_embed @youtube.video_id
  %section#primary_info.info-container
    %section#performance_info
      = link_to @youtube.api_data.snippet.title, video_link_for(@youtube.video_id)
      = link_to @youtube.api_data.snippet.channelTitle, channel_link_for(@youtube.api_data.snippet.channelId)
  - if @form_performance.present?
    %section#primary_form.info-container
      = render 'performances/form', type: 'youtube', id: @youtube.video_id

-#
    <ul id="related">
      <% @related.items.each do |item| %>
        <li>
        <%= render 'youtube/infolink',
          video_id: item.id.videoId,
          primary: item.snippet.title
        %>
        </li>
      <% end %>
    </ul>
    <% content_for :debug do %>
      <%#= debug @youtube %>
    <% end %>
