-# Locals: performances

%ol#performances
  - performances.each do |p|
    %li.performance

      %ol.labels
        - p.labels.each do |l|
          %li.label= l.name
      
      %ol.compositions
        - p.compositions.each do |c|
          %li.composition
            = render c

      %ol.artists
        - p.artists.each do |a|
          %li.artist
            = render a
