$background: #222;
$foreground: #444;
$family: "Tahoma";

$primary: #ddd;
$highlight: #9cf;
$warning: #993;
$error: #933;
$link-active: #9cf;

$form-text-background: #aaa;
$form-text: #333;
$form-label: $primary;
$form-highlight: $background;
$form-green-highlight: #696;
$form-button-text: desaturate($link-active, 30%);
$form-button-background: #1f1f1f;
