@import url(http://fonts.googleapis.com/css?family=Galdeano);

$color-background: #1b1b1b;
$color-foreground: #444;
$color-primary: #ddd;
$color-highlight: #9cf;
$color-warning: #993;
$color-error: #933;

$family: "Galdeano", sans-serif;

$font-size: 16px;
$font-size-prominent: 24px;

$link-active: #9cf;

