/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require_self
 *= require_tree .
 */

@import "base";

body {
	background-color: $background;
	font-family: $family; 
  font-size: 14px;
	color: $primary;
}
a {
  &:hover, &:link, &:active, &:visited {
    color: $link-active;
    text-decoration: none;
  }
}
header {
  margin: 10px 10px 5px 10px;
  background-color: $foreground;
  nav {
    padding: 5px 10px;
    display: inline-block;
    a {
      line-height: 1.3em;
      margin: 0px 10px;
    }
  }
}
#logo {
  color: $highlight;
  padding: 10px;
  font-size: 2em;
  display: inline-block;
}
main {
  display: block;
	margin: 10px 10px;
}
.main {
  float: left;
  margin-bottom: 10px;
}
aside, pre, code {
  padding: 1em;
	display: block;
	clear: both;
	font-family: monospace;
  background-color: #ccc;
  color: #333;
}
input, button {
	color: black;
}
h1 {
  font-size: 2em;
  margin: 0.5em;
}
form#search {
  display: inline;
}
.info-container {
  margin-top: 5px;
  background-color: $foreground;
  padding: 10px;
}
