/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require_self
 *= require_tree .
 */

@import "base";

* {
	color: $primary;
}
body {
	background-color: $background;
	font-family: $family; 
  font-size: 14px;
}
a {
  color: $link-active;
  text-decoration: none;
}
header {
  margin: 20px 10px 5px 10px;
	float: left;
  nav {
    background-color: $foreground;
    margin-top: 5px;
    padding: 5px 10px;
    a {
      line-height: 1.3em;
      display: block;
    }
  }
}
#logo {
  color: $highlight;
  padding: 10px;
  background-color: $foreground;
  font-size: 2em;
}
main {
	float: left;
	margin: 20px 10px;
  width: 640px;
}
aside, pre, code {
	display: block;
	clear: both;
	font-family: monospace;
}
input, button {
	color: black;
}
