/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset
 *= require_self
 * require_tree .
 *= require wave
 *= require youtube
 */

@import "base";

body {
	background-color: $color-background;
	font-family: $family; 
  font-size: $font-size;
	color: $color-primary;
  min-width: 680px;
}
a {
  &:hover, &:link, &:active, &:visited {
    color: $link-active;
    text-decoration: none;
  }
}
header {
  padding: 8px 0;
  background-color: $color-foreground;
  white-space: nowrap;
}
nav {
  display: block;
  a, form {
    margin: 0px 12px;
  }
}
.logo {
  color: $color-highlight;
  padding: 0 20px 0 20px;
  font-size: $font-size-prominent;
  display: inline-block;
}
main {
  display: block;
  padding: 16px;
  float: left;
}
aside, pre, code {
  padding: 4px;
	display: block;
	clear: both;
	font-family: monospace;
  background-color: #ccc;
  color: #333;
}
input, button {
	color: black;
  font-family: $family;
}
h1 {
  font-size: $font-size-prominent;
  margin: 8px;
}
form#search {
  display: inline;
}
section.primary {
  background-color: $color-foreground;
  margin-top: 8px;
  padding: 16px;
}
.logo {
  padding-top: 4px;
  font-size: $font-size-prominent;
}

// Miscellaneous
.hidden { // For hiding form performance template.
  display: none;
  visibility: hidden;
}
