@import "base";

// Form Performance (formp)
$formp-button-height: 24px;
$formp-text-background: #aaa;
$formp-text: #333;
$formp-label: $color-primary;
$formp-highlight: $color-background;
$formp-green-highlight: #696;
$formp-button-text-color: desaturate($link-active, 30%);
$formp-button-background: #1f1f1f;

fieldset.formp-subfieldset {
  margin-bottom: 4px;
  position: relative;
}
  .formp-label {
    text-transform: uppercase;
    font-size: 12px;
    color: $formp-label;
    width: 100px;
    display: inline-block;
  }
  fieldset.formp-subsubfieldset {
    display: inline-block;
    vertical-align: top;
    min-height: 36px;
    margin-left: 2px;
    padding-left: 4px;
    border-left: 2px solid $formp-highlight;
  }
  div.formp-button-wrap {
    margin-top: -$formp-button-height;
    width: 100px;
    text-align: right;
    button {
      vertical-align: bottom;
    }
  }
input[type="text"] {
  margin: 2px;
  font-size: 14px;
  padding: 0px 4px;
  background-color: $formp-text-background;
  border: 2px solid $formp-text-background;
  width: 200px;
  height: $formp-button-height;
  line-height: $formp-button-height;
}
button, input[type="submit"] {
  height: $formp-button-height;
  margin: 0px;
  text-transform: uppercase;
  font-size: 12px;
  background-color: $formp-button-background; 
  color: $formp-button-text-color;
  border: 0px;
}
input.formp-existing {
  border: 2px solid $formp-green-highlight;
}

// jQuery UI Autocomplete
.ui-helper-hidden-accessible {
  display: none;
  visibility: hidden;
}
.ui-autocomplete {
  position: absolute;
  background-color: #999;
}
.ui-menu-item {
  cursor: pointer;
  font-size: 14px;
  padding: 2px;
  a {
    color: $color-foreground;
    display: block;
    border: 4px solid transparent;
  }
}
.ui-state-focus {
  background-color: #888;
  border: 4px solid #888;
}

