// Place all the styles related to the Youtube controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "base";

$button-height: 18px;

.info-container {
  margin-top: 5px;
  background-color: $foreground;
  padding: 10px;
}
// #youtube-info
.performance {
  margin-bottom: 10px;
}
.compositions, .artists {
}
.composition {
  font-size: 1.2em;
  color: #ccc;
}
.artist {
  font-size: 1em;
  line-height: 1.1em;
  color: #ccc;
}
.conjunction, .uploader {
  font-size: 0.8em;
  line-height: 1em;
}
// form
.error {
  color: $error;
}
.warning {
  color: $warning;
}
fieldset.hidden {
  visibility: hidden;
  display: none;
}
.label {
  text-transform: uppercase;
  font-size: 11px;
  color: $form-label;
}
p.performance-label {
  @extend .label;
  line-height: 2em;
}
div.sub-fieldset {
  margin-bottom: 5px;
  position: relative;
}
div.label {
  width: 100px;
  display: inline-block;
  //border-right: 3px solid $form-highlight;
  line-height: 1.5em;
}
input[type="text"] {
  margin: 1px;
  padding: 0px 3px;
  background-color: $form-text-background;
  border: 2px solid $form-text-background;
  width: 200px;
  height: 1.5em;
}
div.button-wrap {
  margin-top: -$button-height;
  width: 100px;
  text-align: right;
  border-right: 3px solid $form-highlight;
  button {
    vertical-align: bottom;
  }
}
button, input[type="submit"] {
  height: $button-height;
  margin: 0px;
  text-transform: uppercase;
  font-size: 10px;
  background: $form-button-background; 
  color: $form-button-text;
  border: 0px;
}
div.fields {
  display: inline-block;
  vertical-align: top;
  min-height: 35px;
  margin-left: 2px;
  padding-left: 5px;
  border-left: 3px solid $form-highlight;
}
input.existing {
  border: 2px solid $form-green-highlight;
}

// jQuery UI Autocomplete
.ui-helper-hidden-accessible {
  display: none;
  visibility: hidden;
}
.ui-autocomplete {
  position: absolute;
  background-color: #999;
}
.ui-menu-item {
  cursor: pointer;
  padding: 2px;
  line-height: 1.4;
  a {
    color: #333;
    display: block;
    border: 4px solid transparent;
  }
}
.ui-state-focus {
  background-color: #888;
  border: 4px solid #888;
}
